@page "/geolocation"
@using Configs
@using Microsoft.AspNetCore.WebUtilities

@inject IGeolocationService Geolocation
@inject IConfiguration Config
@inject NavigationManager NavManager

@if (position == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <img src="@imageUrl" class="card-img-top" style="width:500px !important; height:500px !important;" alt="현재 위치 - 네이버 맵">
        <ul class="list-group">
            <li class="list-group-item">Latitude: @position.Coords.Latitude</li>
            <li class="list-group-item">Longitude: @position.Coords.Longitude</li>
        </ul>
    </div>
}

@code {
    protected GeolocationPosition? position;
    protected GeolocationPositionError? error;
    protected string? imageUrl;

    private PositionOptions _options = new PositionOptions()
    {
        EnableHighAccuracy = true,
        MaximumAge = null,
        Timeout = 15_000
    };

    protected override void OnInitialized()
    {
        Geolocation.GetCurrentPosition(
            component: this,
            onSuccessCallbackMethodName: nameof(OnPositionReceived),
            onErrorCallbackMethodName: nameof(OnPositionError),
            options: _options
        );
    }

    [JSInvokable]
    public void OnPositionReceived(GeolocationPosition position)
    {
        this.position = position;

        // var endpoints = Config.GetSection(EndpointsSettings.Name).Get<EndpointsSettings>();
        var baseUrl = "https://apim-ignitekr2022.azure-api.net";
        var imageUrl = $"{baseUrl}/maps/naver/image?lat={position.Coords.Latitude}&long={position.Coords.Longitude}&zoom={12}";

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queries = QueryHelpers.ParseQuery(uri.Query);
        if (queries.TryGetValue("flag", out var flag))
        {
            imageUrl += $"&flag={flag}";
        }

        this.imageUrl = imageUrl;

        StateHasChanged();
    }

    [JSInvokable]
    public void OnPositionError(GeolocationPositionError positionError)
    {
        this.error = positionError;

        StateHasChanged();
    }
}
