@page "/"
@using Configs

@inject AppSettings Settings

<PageTitle>Home</PageTitle>

<h1>Ignote Spotlight on Korea</h1>

<div class="card">
  <h2 class="card-header">데모 1. 백엔드와 프론트엔드 디커플링하기</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="/geolocation">프론트엔드</a>
    <a class="btn btn-success" href="@mapsApi" target="_blank">백엔드</a>
  </div>
</div>

<div class="card">
  <h2 class="card-header">데모 2. OAuth 인증 구현 간소화하기</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="/kakaoprofile">프론트엔드</a>
    <a class="btn btn-success" href="@kakaoApi" target="_blank">백엔드</a>
  </div>
</div>

<div class="card">
  <h2 class="card-header">데모 3. BFF 구현하기</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="https://make.powerautomate.com" target="_blank">프론트엔드</a>
    <a class="btn btn-success" href="@smsApi" target="_blank">백엔드 1</a>
    <a class="btn btn-success" href="@smsVerifyApi" target="_blank">백엔드 2</a>
  </div>
</div>

@code {
    private string? mapsApi;
    private string? kakaoApi;
    private string? smsApi;
    private string? smsVerifyApi;

    protected override void OnInitialized()
    {
        var links = Settings.Links;

        this.mapsApi = $"{links.Maps.TrimEnd('/')}/swagger/ui";
        this.kakaoApi = $"{links.Kakao.TrimEnd('/')}/swagger/ui";
        this.smsApi = $"{links.Sms.TrimEnd('/')}/swagger/ui";
        this.smsVerifyApi = $"{links.SmsVerify.TrimEnd('/')}/swagger/ui";
    }
}

